* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
body {
    width: 100%;
    min-height: 100svh;
    background: var(--background);
}
.content {
    width: 100%;
    min-height: calc(100svh - 84px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.content h1.font-logo {
    font-size: 3.5rem;
    color: var(--text-color);
    text-align: center;
    text-shadow: 0 0 10px rgba(255,255,255, 0.5);
}
.section-space {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}