.gamelist {
    width: 1200px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 300px;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: calc(20px + 15px);
    background: var(--gamelist-bg);
    backdrop-filter: blur(8px);
    user-select: none;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.6);
}
.gamelist-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: gap 0.3s ease;
}
.playgame-container {
    position: relative;
    height: 160px;
    margin-bottom: 10px;
    transition: margin-bottom 0.3s ease;
}
.gamelist.createGameActive .playgame-container {
    height: 100%;
}
.gamelist.createGameActive .playgame-container,
.gamelist-container.settings-active .playgame-container {
    margin-bottom: 0;
}
.playgame-container,
.game-list-container,
.settings-list-container {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease, scale 0.2s ease, width 0.3s ease, height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}
.playgame-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}
.playgame-item .play-button {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: calc(20px - 10px);
    background-color: rgb(255,255,255,0.15);
    transition: background-color 0.3s ease, scale 0.2s ease, width 0.3s ease, height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}
.playgame-item .play-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: opacity 0.3s ease;
}
.playgame-item .play-button span b {
    font-size: 1.8rem;
}
.playgame-item .play-button:hover,
.playgame-item .play-button:active {
    background-color: var(--primary-color);
    width: calc(100% + 50%);
}
.playgame-item .play-button.create-game:hover,
.playgame-item .play-button.create-game:active {
    background-color: var(--secondary-color);
}
.playgame-item .play-button:active {
    scale: 0.9;
}
.gamelist-sidebar {
    height: calc(700px - (15px * 2));
}
.gamelist-categories-container {
    position: relative;
    background: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 20px;
}
.gamelist-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(700px - (15px * 2) - 190px);
    border-radius: calc(20px - 10px);
    overflow: auto;
}
.gamelist-categories::-webkit-scrollbar {
    width: 0;
}
.gamelist-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
    background: rgb(255,255,255,0.15);
    padding: 10px;
    border-radius: calc(20px - 10px);
    transition: background-color 0.3s ease, scale 0.2s ease;
    cursor: pointer;
}
.gamelist-category * {
    pointer-events: none;
}
.gamelist-category:hover,
.gamelist-category:active {
    background-color: var(--primary-color);
}
.gamelist-category:active {
    scale: 0.9;
}
.gamelist-category .gamelist-category-title {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.gamelist-category .game-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}
.gamelist-category .game-logo.rectangle {
    width: auto;
}
.gamelist-category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.gamelist-category-title h3 {
    font-size: 1.2rem;
}
.gamelist-category p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    color: var(--text-color-secondary);
}
.gamelist-category p:last-child {
    font-size: 0.8rem;
}
.gamelist-category p svg {
    width: 16px;
    height: 16px;
}
.game-list-container,
.settings-list-container {
    position: relative;
    height: 500px;
}
.game-list-container::after,
.settings-list-container::after,
.gamelist-categories-container::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0,0.3));
    pointer-events: none;
    border-radius: 20px;
}
.game-list-container-table::-webkit-scrollbar,
.settings-list-container-table::-webkit-scrollbar {
    width: 0;
}
.game-list-container .game-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: calc(20px - 10px);
    background-color: rgb(255,255,255,0.15);
    transition: background-color 0.3s ease, scale 0.2s ease;
    cursor: pointer;
}
.game-list-container .game-item * {
    pointer-events: none;
}
.game-list-container .game-item:hover,
.game-list-container .game-item:active {
    background-color: var(--primary-color);
}
.game-list-container .game-item:active {
    scale: 0.96;
}
.game-list-container .game-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}
.game-list-container .game-item .game-item-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.game-list-container .game-item-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.game-list-container .game-item h5 {
    background: white;
    color: #C89C38;
    padding: 8px;
    border-radius: 10px;
    font-size: 1.2rem;
    width: fit-content;
    margin: 5px 0;
}
.game-list-container .game-item .game-item-rectangle {
    width: 150px;
    height: 85px;
    object-fit: contain;
    object-position: left;
    padding: 10px;
    border-radius: calc(20px - 10px);
    background-color: rgb(255,255,255,0.1);
    transition: background-color 0.3s ease, height 0.2s ease, width 0.2s ease;
}
.game-list-container .game-item:hover .game-item-rectangle,
.game-list-container .game-item:active .game-item-rectangle {
    background-color: var(--primary-color);
    width: 220px;
}
.game-list-container .game-item .game-item-logo-side {
    display: flex;
    justify-content: end;
    align-items: start;
}
.game-item-users-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-item-user {
    margin-left: -15px;
}
.game-item-users-count {
    padding-right: 15px;
    text-align: center;
}
.game-item-users-count span {
    color: var(--text-color-secondary);
}
.game-item-users .game-item-user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.game-item-user-details {
    width: 40%;
}
.game-item-footer {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 0.9rem;
}
.game-item-footer svg {
    width: 20px;
    height: 20px;
}
.game-item-footer:last-child {
    color: var(--text-color-secondary);
}
.game-list-tab-container,
.settings-list-tab-container {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: calc(20px - 10px);
    transition: height 0.3s ease, width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}
.game-list-tab-sides-container,
.settings-list-tab-sides-container {
    width: 840px;
    overflow: hidden;
    border-radius: calc(20px - 10px);
    transition: height 0.3s ease, width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}
.game-list-tab-sides,
.settings-list-tab-sides {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: translate 0.5s ease-in-out;
}
.game-list-container-table,
.settings-list-container-table {
    min-width: 840px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(700px - (15px * 2) - 170px - 68px);
    overflow: auto;
    border-radius: calc(20px - 10px);
}
.settings-list-container-table {
    height: calc(870px - (15px * 2) - 170px - 68px);
}
.game-list-tab-container button,
.settings-list-tab-container button {
    background-color: rgb(255,255,255,0.15);
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-secondary);
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: calc(20px - 10px);
    transition: background-color 0.3s ease, color 0.3s ease, scale 0.2s ease-in-out;
    padding: 8px;
    outline: 0;
    cursor: pointer;
}
.game-list-tab-container button:hover,
.game-list-tab-container button:active,
.settings-list-tab-container button:hover,
.settings-list-tab-container button:active {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.game-list-tab-container button:active,
.settings-list-tab-container button:active {
    scale: 0.96;
}
.game-list-tab-container button.active,
.settings-list-tab-container button.active {
    background-color: var(--primary-color);
    color: var(--text-color);
    pointer-events: none;
}
.gamelist-profile-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.gamelist-profile {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255,255,255,0.15);
    padding: 10px;
    border-radius: calc(20px - 10px);
    transition: background-color 0.3s ease, scale 0.2s ease;
}
.gamelist-profile-top {
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 12px;
}
.gamelist-profile:hover,
.gamelist-profile:active,
.gamelist-profile.settings-active {
    background-color: var(--primary-color);
}
.gamelist-profile-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gamelist-profile-details p,
.profile-topbar-info p {
    display: flex;
    align-items: center;
    gap: 5px;
}
.gamelist-profile-details p img,
.gamelist-profile-details p svg,
.profile-topbar-info p img,
.profile-topbar-info p svg {
    width: 22px;
    height: 22px;
    object-fit: contain;
    object-position: center;
}
.gamelist-profile .gamelist-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: var(--profile-pic-bg);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamelist-profile .gamelist-profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.gamelist-profile .gamelist-profile-rank-container {
    padding: 2px;
    background: linear-gradient(135deg, #5b408a, #5f4496);
    border-radius: calc(20px - 10px);
}
.gamelist-profile .gamelist-profile-rank {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: calc(20px - 13px);
    background: linear-gradient(135deg, #432F66, #422F68);
}
.gamelist-profile:hover .gamelist-profile-rank-container, 
.gamelist-profile:active .gamelist-profile-rank-container {
    background: var(--primary-color);
}
.gamelist-profile .gamelist-profile-rank p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    gap: 10px;
    text-transform: uppercase;
    transition: translate 0.3s ease;
}
.gamelist-profile .gamelist-profile-rank-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}
#startGameSection.createGameActive .playgame-item {
    gap: 0;
}
#startGameSection.createGameActive .playgame-item .play-button span {
    opacity: 0;
}
#startGameSection.createGameActive .playgame-item .play-button:first-child {
    width: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    height: 650px;
}
#startGameSection.createGameActive .playgame-item .play-button:last-child {
    height: 650px;
    pointer-events: none;
}
#startGameSection.createGameActive .gamelist-container {
    justify-content: start;
    gap: 0;
}
#startGameSection.createGameActive .game-list-container {
    height: 0;
    padding: 0;
    pointer-events: none;
}
#playButtonSections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#playButtonSections,
#playButtonSections .create-play-section {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
#playButtonSections .create-play-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
#startGameSection.createGameActive #playButtonSections,
#startGameSection.createGameActive #playButtonSections.creategame .create-play-section {
    opacity: 1;
    pointer-events: all;
} 
#playButtonSections .create-play-section #createGameForm {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: calc(20px - 10px);
}
#playButtonSections .create-play-section .backtoGameList {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease, scale 0.2s ease;
    border-radius: 6px;
    background-color: transparent;
    padding: 8px 15px;
    background-color: rgb(255,255,255,0.15);
    cursor: pointer;
    z-index: 1;
}
#playButtonSections .create-play-section .backtoGameList svg {
    width: 20px;
    height: 20px;
}
#playButtonSections .create-play-section .backtoGameList:hover {
    background-color: rgb(255,255,255,0.2);
}
#playButtonSections .create-play-section .backtoGameList:active {
    scale: 0.85;
}
.inputBox {
    width: 400px;
    background-color: #634973;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 4px;
    transition: background 0.3s ease, border-radius 0.3s ease; /* Animasyon için */
}
.inputBox input,
.inputBox .custom-select,
.inputBox .radio-group label,
.inputBox #createRoomBtn {
    height: 44px;
}

.inputBox.active {
    background-color: #775E83;
    border-radius: 10px 10px 0 0;
}
.inputBox label {
    padding: 8px;
    white-space: nowrap;
}
.inputBox input,
.inputBox select {
    background-color: rgb(255,255,255,0.1);
    padding: 8px 15px;
    border-radius: calc(10px - 4px);
    text-align: center;
    width: 100%;
    border: 1px solid transparent;
    transition: border 0.2s ease;
}
input[readonly] {
    pointer-events: none;
}
.inputBox select:focus {
    border: 1px solid rgb(255,255,255,0.5);
}
.inputBox .custom-select {
    position: relative;
    width: 100%;
}
.inputBox .selected-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: calc(10px - 4px);
    background: rgb(255,255,255,0.1);
    cursor: pointer;
    transition: background 0.3s ease;
}
.inputBox .selected-option img,
.inputBox .selected-option svg,
.inputBox .option img,
.inputBox .option svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    object-fit: contain;
}
.inputBox .options {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    right: 0;
    background: #775E83;
    border-radius: 0 0 calc(10px - 4px) calc(10px - 4px);
    margin-top: 2px;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    outline: 4px solid #775E83;
    transition: opacity 0.3s ease;
}
.inputBox .options .options-container {
    border-radius: calc(10px - 4px);
    overflow-y: auto;
    height: 0;
    transition: height 0.3s ease;
}
.inputBox .options .options-container::-webkit-scrollbar {
    width: 0;
}
.inputBox .custom-select.openDropdown .options {
    pointer-events: all;
    opacity: 1;
}
.inputBox .custom-select.openDropdown .options .options-container {
    height: 132px;
}
.inputBox .custom-select.openDropdown .selected-option {
    background: rgb(255,255,255,0.3);
}
.inputBox .option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: calc(10px - 4px);
    transition: background 0.3s ease;
}
.inputBox .option:hover {
    background: rgb(255,255,255,0.3);
}
.inputBox.selectBox.rectangle .rectangle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputBox.selectBox.rectangle input {
    margin-top: 5px;
    height: 35px;
}
.inputBox.selectBox.rectangle.active {
    border-radius: 10px 10px 0 10px;
}
.inputBox.selectBox.rectangle .selected-option,
.inputBox.selectBox.rectangle .option {
    padding: 5px;
}
.inputBox.selectBox.rectangle .custom-select {
    height: 35px;
}
.inputBox .radio-group {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.inputBox .radio-group input[type="radio"] {
    display: none;
}
.inputBox .radio-group svg {
    width: 20px;
    height: 20px;
    fill: var(--text-color-secondary);
    transition: fill 0.3s ease;
}
.inputBox .radio-group input[type="radio"]:checked + svg {
    fill: var(--text-color);
}
.inputBox .radio-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
    background-color: rgb(255,255,255,0.1);
    color: var(--text-color-secondary);
    border-radius: calc(10px - 4px);
    cursor: pointer;
    transition: background-color 0.3s ease, scale 0.2s ease;
}
.inputBox .radio-group label:hover {
    background-color: rgb(255,255,255,0.2);
}
.inputBox .radio-group label:active {
    scale: 0.95;
}
.inputBox .radio-group input[type="radio"]:checked + label {
    background-color: rgb(255,255,255,0.3);
    color: var(--text-color);
}
.inputBox #createRoomBtn {
    width: 100%;
    padding: 10px;
    border-radius: calc(10px - 4px);
    background-color: rgb(255,255,255,0.1);
    border: 1px solid transparent;
    transition: border 0.2s ease;
    transition: bottom 0.3s ease, background-color 0.3s ease, scale 0.2s ease;
    cursor: pointer;
}
.inputBox #createRoomBtn span {
    position: relative;
    z-index: 5;
    font-size: 1.1rem;
}
.inputBox #createRoomBtn.active span {
    animation: scaleLoading 2.5s infinite;
}
@keyframes scaleLoading {
    0% {
        font-size: 0.9rem;
    }
    50% {
        font-size: 1.1rem;
    }
    100% {
        font-size: 0.9rem;
    }
}
.inputBox #createRoomBtn:hover {
    background-color: rgb(255,255,255,0.2);
}
.inputBox #createRoomBtn:active {
    scale: 0.95;
}
.inputBox #createRoomBtn.active {
    position: relative;
    overflow: hidden;
    background-color: var(--secondary-color);
}
.inputBox #createRoomBtn.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: calc(10px - 4px);
    background-color: var(--active-color);
    animation: loading 2.5s infinite;
}
@keyframes loading {
    0% {
        top: -100%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
.gamelist-profile:hover .gamelist-profile-rank p,
.gamelist-profile #gamelistProfileMenu.active p {
    translate: 0 -100%;
}
.gamelist-profile:hover #settingsSecBtn {
    top: 0;
    pointer-events: all;
}
.gamelist-profile #gamelistProfileMenu.active #settingsSecBtn {
    top: -100%;
    pointer-events: none;
}
.gamelist-profile #gamelistProfileMenu.active #settingsSecBtnClose,
.gamelist-profile:hover #gamelistProfileMenu.active #settingsSecBtnClose {
    top: 0;
    pointer-events: all;
}
.gamelist-profile #settingsSecBtn,
.gamelist-profile #settingsSecBtnClose {
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease, top 0.3s ease;
}
.gamelist-profile #settingsSecBtn span,
.gamelist-profile #settingsSecBtnClose  span{
    font-size: 1.2rem;
}
.gamelist-profile #settingsSecBtn:hover,
.gamelist-profile #settingsSecBtnClose:hover {
    background-color: rgb(255,255,255,0.2);
}
.gamelist-profile #settingsSecBtn:active,
.gamelist-profile #settingsSecBtnClose:active {
    background-color: rgb(255,255,255,0.3);
}
.gamelist-container.settings-active {
    gap: 0;
}
.gamelist-container.settings-active .game-list-container:not(.gamelist-settings),
.gamelist-container.settings-active .playgame-container {
    height: 0;
    padding: 0;
    pointer-events: none;
}
.game-list-container .gamelist-settings {
    height: 100%;
}
.gamelist-container.settings-active #playButtonSections {
    opacity: 0 !important;
    pointer-events: none !important;
}
#playButtonSections .createGameTitle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    width: 100%;
    transition: opacity 0.3s ease, top 0.3s ease;
}
.gamelist-container.settings-active #playButtonSections .createGameTitle {
    opacity: 0;
    top: -100px;
}
.settings-list-container {
    height: 0;
    padding: 0;
    pointer-events: none;
}
.settings-list-container.activate-settings {
    height: 100%;
    padding: 10px;
    pointer-events: all;
}
.social-twitter,
.social-kick,
.social-twitch,
.social-github {
    background-color: black;
    border-radius: 6px;
    padding: 5px;
}
.social-twitch {
    background-color: white;
    border-radius: 6px;
    padding: 5px;
}
.profile-topbar,
.profile-statics {
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: rgb(255,255,255,0.15);
    border-radius: calc(20px - 10px);
    padding: 10px;
}
.profile-statics {
    height: 100%;
}
.profile-statics-container h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.profile-statics-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.profile-statics-container ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}
.profile-statics-container ul li span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.profile-statics-container ul li span b {
    background-color: rgb(255,255,255,0.15);
    border: 1px solid rgb(255,255,255,0.15);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: background-color 0.3s ease;
}
.profile-statics-container ul li span b:hover {
    background-color: rgb(255,255,255,0.25);
}
.profile-statics-container ul li span b p {
    font-size: 1.3rem;
    padding: 6px 12px;
}
.profile-statics-container ul li span b.hasicon p {
    padding-left: 2px;
}
.profile-statics-container ul li span b icon {
    width: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255,0.2);
    border: 1px solid rgb(255,255,255,0.15);
    border-radius: 50%;
    padding: 5px;
}
.profile-statics-container ul li img,
.profile-statics-container ul li svg {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: center;
}
.profile-topbar-container {
    width: 100%;
    display: flex;
    gap: 10px;
}
.profile-topbar-container .profile-topbar-picture {
    position: relative;
    width: 125px;
    height: 125px;
    background: var(--profile-pic-bg);
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture-camera {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    background-color: rgb(255,255,255,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.2s ease;
    border-radius: 50%;
    pointer-events: none;
    cursor: pointer;
}
.profile-topbar-container .profile-topbar-picture:hover .profile-picture-camera {
    opacity: 1;
    pointer-events: all;
}
.profile-picture-camera:active {
    background-color: rgb(255,255,255,0.35);
}
.profile-topbar-container .profile-topbar-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.profile-topbar-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profile-topbar-info h1 {
    font-size: 1.5rem;
    margin: 0;
}
.profile-topbar-info .profile-quest {
    position: relative;
    width: fit-content;
}
.profile-topbar-info .profile-quest>.profile-quest-container {
    cursor: pointer;
}
.profile-topbar-info .profile-quest .profile-quest-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    background-color: rgb(255,255,255,0.15);
    border: 1px solid rgb(255,255,255,0.15);
    border-radius: 50px;
    transition: background-color 0.3s ease;
}
.profile-topbar-info .profile-quest>.profile-quest-container:hover {
    background-color: rgb(255,255,255,0.25);
}
.profile-topbar-info .profile-quest>.profile-quest-container span {
    font-size: 1.2rem;
}
.profile-topbar-info .profile-quest .profile-quest-container img,
.profile-topbar-info .profile-quest .profile-quest-container svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
}
.profile-topbar-info .profile-quest .profile-quest-details {
    position: absolute;
    top: -22px;
    left: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, padding-left 0.3s ease;
    z-index: 10;
}
.profile-topbar-info .profile-quest .profile-quest-details .profile-quest-details-content {
    padding: 12px;
    border-radius: 22px;
    background: linear-gradient(135deg, #4f3b61, #4c385a);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 250px;
}
.profile-topbar-info .profile-quest .profile-quest-details .profile-quest-details-content p {
    margin-top: 8px;
    color: var(--text-color-secondary);
    font-size: 0.9rem;
}
.profile-topbar-info .profile-quest:hover .profile-quest-details {
    opacity: 1;
    padding-left: 10px;
    pointer-events: all;
}
.profile-topbar-social {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile-topbar-social a,
.profile-dots {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-topbar-social a.profile-social-link-container.dots-container-active {
    pointer-events: none;
}
.profile-topbar-social a .profile-social-link,
.profile-dots .profile-dots-container {
    position: absolute;
    top: calc(100% + 7px);
    left: 50%;
    transform: translateX(-50%) scale(0);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    background-color: rgb(99, 68, 128);
    padding: 6px 12px;
    border-radius: 50px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
}
.profile-dots .profile-dots-container {
    left: 0;
    transform: translateX(0) scale(0);
    z-index: 50;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
    border: 2px solid rgb(255,255,255,0.25);
}
.profile-dots.active .profile-dots-container {
    opacity: 1;
    transform: translateX(0) scale(1);
    pointer-events: all;
}
.profile-dots .profile-dots-container button {
    padding: 6px 12px;
    white-space: nowrap;
    background-color: rgb(255,255,255,0.2);
    border-bottom: 2px solid rgb(255,255,255,0.15);
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    text-shadow: 0 0 5px rgba(255,255,255, 0.2);
}
.profile-dots .profile-dots-container button span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.profile-dots .profile-dots-container button svg {
    width: 20px;
    height: 20px;
}
.clr-red,
.clr-red path {
    color: rgb(173, 47, 47);
}
.profile-dots .profile-dots-container button:last-child {
    border-bottom: 2px solid transparent;
}
.profile-dots .profile-dots-container button:hover {
    background-color: rgb(255,255,255,0.3);
    border-bottom: 2px solid transparent;
}
.profile-dots .profile-dots-container button:active {
    border-bottom: 2px solid transparent;
}
.profile-dots .profile-dots-container button span {
    transition: scale 0.2s ease;
}
.profile-dots .profile-dots-container button:active span {
    scale: 0.85;
}
.profile-topbar-social a:hover .profile-social-link {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    pointer-events: all;
}
.profile-topbar-social a:active .profile-social-link {
    transform: translateX(-50%) scale(1.15);
}
.profile-topbar-social a svg {
    width: 30px;
    height: 30px;
    transition: scale 0.2s ease;
}
.profile-topbar-social a:hover svg {
    scale: 1.15;
}
.profile-topbar-social a:active svg {
    scale: 0.9;
}
.profile-topbar-sidebar {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    transition: padding-right 0.3s ease;
}
.profile-short-settings .profile-dots {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(20px - 10px);
    background-color: rgb(255,255,255,0.15);
    border: 1px solid rgb(255,255,255,0.2);
    cursor: pointer;
    opacity: 1;
    scale: 1;
    transition: background-color 0.3s ease;
}
.profile-short-settings .profile-dots:hover {
    background-color: rgb(255,255,255,0.25);
}
.profile-short-settings .profile-dots:active,
.profile-short-settings .profile-dots.active {
    background-color: rgb(255,255,255,0.35);
}
.profile-elo {
    position: relative;
    padding: 2px;
    background: linear-gradient(135deg, #5b408a, #5f4496);
    border-radius: calc(20px - 10px);
    
    margin-bottom: 30px;
}
.profile-elo .profile-elo-content {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(135deg, #432F66, #422F68);
    border-radius: calc(20px - 13px);
    padding: 0 35px;
}
.profile-elo .profile-elo-content p {
    font-size: 1.4rem;
}
.profile-elo img {
    width: 60px;
    height: 60px;
}
.profile-elo-info {
    position: absolute;
    top: calc(100% - 2px);
    left: 50%;
    border-radius: 0 0 10px 10px;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    background: linear-gradient(135deg, #5b408a, #5f4496);
    padding: 2px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.profile-elo-info p {
    text-align: center;
    background: linear-gradient(135deg, #432F66, #422F68);
    border-radius: 0 0 calc(10px - 2px) calc(10px - 2px);
    padding: 6px 12px;
    width: fit-content;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.profile-elo .profile-elo-info {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    pointer-events: all;
}
.editProfileTable .profile-topbar-sidebar {
    display: flex;
    align-items: start;
    padding-right: 0;
}
.editProfileTable .profile-topbar-sidebar #saveProfile {
    padding: 6px 12px;
    background-color: rgb(255,255,255,0.25);
    border: 1px solid rgb(255,255,255,0.15);
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, scale 0.2s ease;
}
.editProfileTable .profile-topbar-sidebar #saveProfile span {
    font-size: 1.1rem;
}
.editProfileTable .profile-topbar-sidebar #saveProfile:hover,
.editProfileTable .profile-topbar-sidebar #saveProfile:active {
    background-color: rgb(255,255,255,0.35);
}
.editProfileTable .profile-topbar-sidebar #saveProfile:active {
    scale: 0.9;
}