.gamelist {
    width: 1200px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 300px;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: calc(20px + 15px);
    background: var(--gamelist-bg);
    backdrop-filter: blur(8px);
    user-select: none;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.6);
}
.gamelist-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.playgame-container,
.game-list-container {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 20px;
}
.playgame-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.playgame-item .play-button {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: calc(20px - 10px);
    background-color: rgb(255,255,255,0.15);
    transition: background-color 0.3s ease, scale 0.2s ease, width 0.3s ease;
}
.playgame-item .play-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.playgame-item .play-button span b {
    font-size: 1.8rem;
}
.playgame-item .play-button:hover,
.playgame-item .play-button:active {
    background-color: var(--primary-color);
    width: calc(100% + 50%);
}
.playgame-item .play-button.create-game:hover,
.playgame-item .play-button.create-game:active {
    background-color: var(--secondary-color);
}
.playgame-item .play-button:active {
    scale: 0.9;
}
.gamelist-sidebar {
    height: calc(700px - (15px * 2));
}
.gamelist-categories-container {
    position: relative;
    background: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 20px;
}
.gamelist-categories-container::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0,0.35));
    pointer-events: none;
    border-radius: 20px;
}
.gamelist-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(700px - (15px * 2) - 190px);
    border-radius: calc(20px - 10px);
    overflow: auto;
}
.gamelist-categories::-webkit-scrollbar {
    width: 0;
}
.gamelist-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
    background: rgb(255,255,255,0.15);
    padding: 10px;
    border-radius: calc(20px - 10px);
    transition: background-color 0.3s ease, scale 0.2s ease;
}
.gamelist-category * {
    pointer-events: none;
}
.gamelist-category:hover,
.gamelist-category:active {
    background-color: var(--primary-color);
}
.gamelist-category:active {
    scale: 0.9;
}
.gamelist-category .gamelist-category-title {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.gamelist-category .game-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}
.gamelist-category .game-logo.rectangle {
    width: auto;
}
.gamelist-category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.gamelist-category-title h3 {
    font-size: 1.2rem;
}
.gamelist-category p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    color: var(--text-color-secondary);
}
.gamelist-category p:last-child {
    font-size: 0.8rem;
}
.gamelist-category p svg {
    width: 16px;
    height: 16px;
}
.game-list-container {
    position: relative;
}
.game-list-container::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0,0.35));
    pointer-events: none;
    border-radius: 20px;
}
.game-list-container-table::-webkit-scrollbar {
    width: 0;
}
.game-list-container .game-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: calc(20px - 10px);
    background-color: rgb(255,255,255,0.15);
    transition: background-color 0.3s ease, scale 0.2s ease;
}
.game-list-container .game-item * {
    pointer-events: none;
}
.game-list-container .game-item:hover,
.game-list-container .game-item:active {
    background-color: var(--primary-color);
}
.game-list-container .game-item:active {
    scale: 0.96;
}
.game-list-container .game-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}
.game-list-container .game-item .game-item-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.game-list-container .game-item-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.game-list-container .game-item h5 {
    background: white;
    color: #C89C38;
    padding: 8px;
    border-radius: 10px;
    font-size: 1.2rem;
    width: fit-content;
    margin: 5px 0;
}
.game-list-container .game-item .game-item-rectangle {
    width: 150px;
    height: 85px;
    object-fit: contain;
    object-position: left;
    padding: 10px;
    border-radius: calc(20px - 10px);
    background-color: rgb(255,255,255,0.1);
    transition: background-color 0.3s ease, height 0.2s ease, width 0.2s ease;
}
.game-list-container .game-item:hover .game-item-rectangle,
.game-list-container .game-item:active .game-item-rectangle {
    background-color: var(--primary-color);
    width: 220px;
}
.game-list-container .game-item .game-item-logo-side {
    display: flex;
    justify-content: end;
    align-items: start;
}
.game-item-users-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-item-user {
    margin-left: -15px;
}
.game-item-users-count {
    padding-right: 15px;
    text-align: center;
}
.game-item-users-count span {
    color: var(--text-color-secondary);
}
.game-item-users .game-item-user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.game-item-user-details {
    width: 40%;
}
.game-item-footer {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 0.9rem;
}
.game-item-footer svg {
    width: 20px;
    height: 20px;
}
.game-item-footer:last-child {
    color: var(--text-color-secondary);
}
.game-list-tab-container {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: calc(20px - 10px);
}
.game-list-tab-sides-container {
    width: 840px;
    overflow: hidden;
    border-radius: calc(20px - 10px);
}
.game-list-tab-sides {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: translate 0.5s ease-in-out;
}
.game-list-container-table {
    min-width: 840px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(700px - (15px * 2) - 170px - 60px);
    overflow: auto;
    border-radius: calc(20px - 10px);
}
.game-list-tab-container button {
    background-color: rgb(255,255,255,0.15);
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-secondary);
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: calc(20px - 10px);
    transition: background-color 0.3s ease, color 0.3s ease, scale 0.2s ease-in-out;
    padding: 5px;
    outline: 0;
    cursor: pointer;
}
.game-list-tab-container button:hover,
.game-list-tab-container button:active {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.game-list-tab-container button:active {
    scale: 0.96;
}
.game-list-tab-container button.active {
    background-color: var(--primary-color);
    color: var(--text-color);
    pointer-events: none;
}
.gamelist-profile-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.gamelist-profile {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255,255,255,0.15);
    padding: 10px;
    border-radius: calc(20px - 10px);
    transition: background-color 0.3s ease, scale 0.2s ease;
}
.gamelist-profile-top {
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 12px;
}
.gamelist-profile:hover,
.gamelist-profile:active {
    background-color: var(--primary-color);
}
.gamelist-profile-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gamelist-profile .gamelist-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.gamelist-profile .gamelist-profile-rank-container {
    padding: 2px;
    background: linear-gradient(135deg, #5b408a, #5f4496);
    border-radius: calc(20px - 10px);
}
.gamelist-profile .gamelist-profile-rank {
    width: 100%;
    border-radius: calc(20px - 13px);
    background: linear-gradient(135deg, #432F66, #422F68);
}
.gamelist-profile:hover .gamelist-profile-rank-container, 
.gamelist-profile:active .gamelist-profile-rank-container {
    background: var(--primary-color);
}
.gamelist-profile .gamelist-profile-rank p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    gap: 10px;
    text-transform: uppercase;
}
.gamelist-profile .gamelist-profile-rank-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}