:root {
    --primary-color: #501e91;
    --secondary-color: #2ecc71;
    --background: linear-gradient(135deg, #23095f, #491e99,#2e075e);
    --text-color: #f2f2f2;
    --text-color-secondary: #b6b6b6;
    --border-color: #bdc3c7;
    --hover-color: #2980b9;
    --active-color: #27ae60;
    --gamelist-bg: linear-gradient(135deg, rgba(49, 8, 114, 0.9), rgba(68, 3, 94, 0.9),rgba(52, 3, 116, 0.9));
    --profile-pic-bg: linear-gradient(135deg,  rgba(86, 48, 146, 0.9), rgba(116, 44, 145, 0.9), rgba(86, 43, 143, 0.9));

    /* Saved Colors */
    /* Black Thones */
    --parisian-night: #323441;
    --cool-black: #151922;
    --crow: #0d0907;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/assets/fonts/Integral-CF/integralcf-extraboldoblique.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Italic';
    src: url('/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Normal';
    src: url('/assets/fonts/Inter-VariableFont_opsz,wght.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    letter-spacing: 1px;
    font-family: 'Inter Italic', Arial, sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
}
footer * {
    font-family: 'Inter Normal', Arial, sans-serif;
}
.font-logo {
    font-family: 'Integral CF', Arial, sans-serif;
    font-size: 1.5rem;
}

/* Category Fonts */
@font-face {
    font-family: 'leagueoflegends';
    src: url('/assets/fonts/categories/leagueoflegends/v2/League.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*[font="leagueoflegends"] {
    font-family: 'leagueoflegends', Arial, sans-serif;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'valorant';
    src: url('/assets/fonts/categories/valorant/Valorant-Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*[font="valorant"] {
    font-family: 'valorant', Arial, sans-serif;
}

@font-face {
    font-family: 'netflix';
    src: url('/assets/fonts/categories/netflix/BebasNeue.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*[font="netflix"] {
    font-family: 'netflix', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

@font-face {
    font-family: 'marvel';
    src: url('/assets/fonts/categories/netflix/BebasNeue.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*[font="marvel"] {
    font-family: 'marvel', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1.3rem;
    text-transform: uppercase;
}